<div class = "signup_box">

	<h1> Sign Up! </h1>

	<%= form_for @user do |form| %>   
		<p> <%= form.label :fname %>  
		<%= form.text_field :fname %> </p> 
		<p> <%= form.label :lname %> 
		<%= form.text_field :lname %> </p> 
		<p> <%= form.label :email %>  
		<%= form.text_field :email %> </p> 
		<p> <%= form.label :password %>    
		<%= form.text_field :password %> </p>       
		<p> <%= form.submit :create %> </p>

	<% end %>

	<h3> Already have an account? <a href ="/sessions/new"> Log in! </a> </h3>

</div>