<h1> Sign Up! </h1>

<%= form_for @user do |form| %>   
	<%= form.label :fname %>   
	<%= form.text_field :fname %>
	<%= form.label :lname %>   
	<%= form.text_field :lname %>
	<%= form.label :email %>   
	<%= form.text_field :email %>
	<%= form.label :password %>   
	<%= form.text_field :password %>       
	<%= form.submit :create %> 
<% end %>

<h2> Already have an account? <a href ="/sessions/new"> Log in! </a> </h2>